@media screen and (max-width: 1193px) {
	#partner img {
		width: 24%;		
	}
}
@media screen and (max-width: 990px) {
	#header .logo_text {
	    display: none;
	}
}
@media screen and (max-width: 939px) {
	#services .service_column .title h5 {
		font-size: 13px;
	}
}
@media screen and (max-width: 800px) {
	#header .navigation {
   		float: left;
	}
}
@media screen and (max-width: 767px) {
	#header {
		position: relative;
	}
	#header .menu-icon {
		display: block;
		z-index: 2;
		position: relative;
	}
	#header .navigation {
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		background: #898989;
		display: none;
		z-index: 1;
	}
	#header .logo{
		z-index: 0;
		position: relative;
	}
	#header .navigation ul li {
		display: block;
		text-align: center;
		padding: 10px 0;
	}
	#services .service_column {
		width: 100%;
	}
	#hero .hero_text h1 {
		font-size: 30px;
	}
	#hero .hero_text h3 {
		font-size: 20px;
	}
	#hero .hero_text button {
    padding: 20px 20px 16px 20px;
    width: 380px; 
	}
	#experience .experience_head h2 {
    font-size: 50px;
	}
}
@media screen and (max-width: 540px) {
	#hero .hero_text h1 {
		font-size: 24px;
	}
	#hero .hero_text h3 {
		font-size: 20px;
	}
	#hero .hero_text button {
		padding: 10px 0px 8px 0px;
		width: 250px;
		font-size: 18px;
	}
	#partner img {
		width: 48%;		
	}
	#contact .contact_column {
		width: 100%;
		margin: 10px auto;
	}
	#announcement .description {
    padding: 0 60px 80px 60px;
    }
    #announcement .description p {
    font-size: 14px;
	}
}
